.extension-container-iframe--extension-sidebar {
  flex: 1 0 auto;
  transition-duration: 200ms;
}

.extension-container-iframe--extension-sidebar iframe {
  /* border-top: 1px solid rgba(20, 20, 20, 0.2);
  border-left: 1px solid rgba(20, 20, 20, 0.2); */
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); */
}

.extension-container-iframe.active{
    width: 320px;
    height: -webkit-fill-available !important;
    right: 10px !important;
    top: 0px !important;
    position: fixed;
    z-index: 9999;
    background-color: white;
}