.extension-container-iframe--extension-outersidebar {
    transition-duration: 200ms;
    box-shadow: 0px 4px 18px 0px #0000001F,0px 4px 4px 0px #00000040, 0px 10px 14px 8px #0000000D, 0px 6px 6px -3px #00000014;

  }
  
  .extension-container-iframe.active{
      width: 320px;
      height: -webkit-fill-available !important;
      right: 0px !important;
      top: 0px !important;
      position: fixed;
      z-index: 9999;
      background-color: white;
  }